services:
  app:
    build:
      context: .
      target: development
      args:
        USER_ID: '${USER_ID:-1000}'
        GROUP_ID: '${GROUP_ID:-1000}'
    ports:
      - '${APP_PORT:-80}:80'
    volumes:
        - '.:/var/www/html'
    env_file:
      - .env
    extra_hosts:
      - 'host.docker.internal:host-gateway'
